extends navbar
block  modal
  // Modal
  #newTask.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog
      .modal-content
        .modal-header.well
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') &times;
          h4#myModalLabel.modal-title New Task
        .modal-body
          form(action='/newTask', method='post')
            label(for='task') Task
            input.form-control(type='text', name='task')
            br
            label(for='description') Description
            textarea.form-control(type='text', name='description')
            br
            label(for='deadline') Deadline
            .row(name='deadline')
              .col-sm-4.col-sm-offset-2
                input.form-control(type='date', name='deadlineDate')
              .col-sm-4
                input.form-control(type='time', name='deadlineTime')
            br
            label(for='user') Assign User
            select.form-control(name='user')
              option(value='one') One
              option(value='two') Two
              option(value='three') Three
              option(value='four') Four
              option(value='five') Five
            br
            label(for='project') Project
            select.form-control(name='project')
              option(value='one') One
              option(value='two') Two
              option(value='three') Three
              option(value='four') Four
              option(value='five') Five
            br
            label(for='unit') Unit
            select.form-control(name='unit')
              option(value='one') One
              option(value='two') Two
              option(value='three') Three
              option(value='four') Four
              option(value='five') Five
            label(for='estimated') estimated Hours
            input.form-control(type='number', name='estimated')
            label(for='spent') spented Hours
            input.form-control(type='number', name='spent')
            br
            button.btn.btn-primary(type='submit', value='newEntry') Submit
        .modal-footer.well
  #newUser.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog
      .modal-content
        .modal-header.well
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') &times;
          h4#myModalLabel.modal-title New User
        .modal-body
          form(action='/newUser', method='post')
            label(for='name') Name
            input.form-control(type='text', name='name')
            br
            label(for='lastName') Last Name
            input.form-control(type='text', name='lastName')
            br
            label(for='short') Short
            input.form-control(type='text', name='short')
            button.btn.btn-primary(type='submit', value='newUser') Submit
        .modal-footer.well
  #newProject.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog
      .modal-content
        .modal-header.well
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') &times;
          h4#myModalLabel.modal-title New Project
        .modal-body
          form(action='/newProject', method='post')
            label(for='projectName') Project Name
            input.form-control(type='text', name='projectName')
            br
            label(for='customer') Customer
            input.form-control(type='text', name='customer')
            button.btn.btn-primary(type='submit', value='newProject') Submit
        .modal-footer.well
  #newUnit.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog
      .modal-content
        .modal-header.well
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') &times;
          h4#myModalLabel.modal-title New Unit
        .modal-body
          | ...
        .modal-footer.well
          button.btn.btn-default(type='button', data-dismiss='modal') Close
          button.btn.btn-primary(type='button') Save changes
  #Task.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog
      .modal-content
        .modal-header.well
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') &times;
          h4#myModalLabel.modal-title Task
        .modal-body
        .modal-footer.well
  block content
